a{
    color: #339999;
}

body{
    font-size: 18px;
}
.marquee{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
.nextto{
    display: inline-block;
}
.rightbuttons{
    margin-bottom: 50px;
}
.pixeled{
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
code{
    font-size: 17px;
    background-color: #e8e8e8;
}
