html, body{
    margin: 0;
    height: 100%;
}
body{
    background: url('/images/pawbs.jpg');
}
a{
    color: #339999;
}

.pixeled{
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.button{
    cursor: pointer;
}

.div-container{
    display: flex;
    flex-flow: column;
    height: 100%;
}
.div-container .header{
    flex: 0 1 auto;
}
.div-container .content{
    flex: 1 1 auto;
}
.div-container .footer{
    flex: 0 1 50px;
    text-align: center;
}
.content{
    display: flex;
}

.main{
    background-color: white;
    flex-grow: 1;
}
.header{
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}
.navbar{
    padding: 30px;
}

.navbutton{
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

.innerframe{
    width: 100%;
    height: 100%;
    border: none;
}
